@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap');

body {
    font-family: "Noto Sans KR";
    font-weight: 400;
    font-style: normal;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.212);
}

header {
    background-color: black;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

header div a img {
    height: 50%;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    gap: 20px;
    margin-right: 20px;
}

main {
    padding: 20px;
}

.machine-details {
    display: grid;
    gap: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}

.machine-image {
    margin-top: 10%;
    margin-left: 20%;
    border-radius: 10px;
    height: 25vw;
    width: 30vw;
}

@media screen and (min-width:800px) {
    .machine-details {
        grid-template-columns: repeat(2, 2fr);
    }
}

.spec li {
    padding-left: 5%;
    text-indent: -20px;
    margin: 1%;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    color: white;
}


.spec h2 {
    margin-left: 20px;
}

.spec ul {
    margin: 20px;
    list-style: none;
    padding: 0;
}

.spec ul li {
    word-break: keep-all;
    white-space: normal;
    overflow-wrap: break-word;
    font-size: 1.5vw;
    line-height: 4vw;
}

.spec ul li:nth-of-type(1) {
    font-size: 3vw;
}

.spec ul li:nth-of-type(2) {
    font-size: 1.5vw;
    color: #ff9000;
}

.spec ul li img{
    height: 150px;
    width: 150px;
}

.hover-image {
    display: none;
    position: absolute;
    top: -330%;
    left: 120%;
    transform: translateX(-50%);
    height: 280%;
    width: 230%;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 2;
}

.button-container {
    position: relative;
    display: inline-block;
}

.hover-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.hover-button:hover {
    background-color: #ff9000;
    color: black;
}

#average-rating {
    font-size: 20px;
    margin-bottom: 10px;
}

.reviews {
    margin-top: 20px;
}

.review {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-weight: bold;
}

form input,
form textarea,
form select,
form button {
    padding: 10px;
    font-size: 16px;
}

form button {
    --bg: #000;
    --hover-bg: #ff9000;
    --hover-text: #000;
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}

form button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

form button:active {
    transform: translate(0);
    box-shadow: none;
}

textarea {
    height: 100px;
    resize: none;
}

footer {
    margin-bottom: 0;
    background-color: black;
    color: white;
    height: 13vh;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    /* 좌우 정렬 */
    align-items: center;
    /* 세로 중앙 정렬 */
    max-width: 1200px;
    /* 최대 너비 */
    margin: 0 auto;
    /* 중앙 정렬 */
}

.logo-text {
    display: flex;
    align-items: center;
}

.text {
    font-size: 14px;
    /* 텍스트 크기 */
    line-height: 1.5;
    /* 줄 간격 */
}

.footer_logo {
    height: 50px;
    margin-right: 15px;
}
